<!doctype html>
<html lang="en">
 <head>
  <title>Document</title>
 </head>
 <body>
 <pre>
    <h2 style="color:#cc0000"><u>About us</u></h2>
<h3><blockquote>DMRR University is a best-in learning solutions organization headquartered in India’s IT capital, Bangalore. 
We offer a wide range of courses in various field.A “finishing school” in many ways, the university provides young job aspirants
the perfect launch-pad to build a rewarding career in the growing sector. From its humble beginnings, DMRR University has exponentially 
grown to be the world’s largest courses provided organization spread across countries.
At DMRR University, we ensure teaching is imparted by specialists with proven subject matter expertise and who have spent over a decade
in their area of specialization. Our faculty are highly competent, skilled and dedicated to giving their best towards the professional 
development of our students. Besides training, we also provide placement assistance to our students and most of the big corporates in the
corporate world hire our trained talent.
It is indeed our pleasure to have placed over thousands of job-seekers in various IT & core firms across India over the years with an aim to 
place thousands more! Building competency into over 5000 students a month,

DMRR University is where talent meets opportunity and we believe your search for the dream job or the dream professional ends here.</blockquote></h3></pre>
 </body>
</html>
